{% extends "_layouts/default.njk" %} {% block body %}
<div class="logs">
  {% if logs.length < 1 %}
    Não possui nenhum log
  {% else %}
    <ul>
      {% for log in logs %}
      <a href="/logs/{{ log.game_id }}">
        <li>
          Game {{ log.game_id }}
        </li>
      </a>
      {% endfor %}
    </ul>
  {% endif %}
</div>
{% endblock %}
