{% extends "_layouts/default.njk" %}

{% block body %}
  <form action="/file" method="post" enctype="multipart/form-data">

    <label for="file">
      <img src="/images/file.svg" height="24">
    </label>

    <input type="file" id="file" name="file" >

    <button type="submit">Enviar</button>
  </form>

  <script>
    const fileInput = document.getElementById('file')
    const img = document.querySelector('label[for=file] img')

    fileInput.onchange = function (e) {
      img.classList.add('preview')
      img.src = URL.createObjectURL(e.target.files[0])
    }
  </script>
{% endblock %}
