{% extends "_layouts/default.njk" %} {% block body %}
<form action="/file" method="post" enctype="multipart/form-data">
  {% if msg %}
    <strong>{{ msg }}</strong>
  {% endif %}

  <input type="file" id="file" name="file" />

  <button type="submit">Enviar</button>
</form>
{% endblock %}
